<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911781412450-6qsiqi6q46ngf55v2rm3nrj4sfohkt2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911781412450-6qsiqi6q46ngf55v2rm3nrj4sfohkt2c</string>
	<key>API_KEY</key>
	<string>AIzaSyC0-yoyktTYkqc2MgrBInBXL86lPFUS3Uk</string>
	<key>GCM_SENDER_ID</key>
	<string>911781412450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.osanai.firebasestoragesample</string>
	<key>PROJECT_ID</key>
	<string>firestorage-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>firestorage-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911781412450:ios:556e95c529b8c5d88bdb3b</string>
</dict>
</plist>